<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">

    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <meta name="description" content="Example program for Silesian BEAMers workshops (Elixir + Phoenix).">
    <meta name="author" content="Silesian BEAMers - Workshop">

    <title>Tetris!</title>

    <link rel="icon" href="/favicon.ico" type="image/x-icon" />
    <link rel="stylesheet" href="<%= static_path(@conn, "/css/app.css") %>">
  </head>

  <body>
    <main class="container">
      <h1>Tetris!</h1>

      <section class="centered">
        <p class="alert alert-info" role="alert"><%= get_flash(@conn, :info) %></p>
        <p class="alert alert-danger" role="alert"><%= get_flash(@conn, :error) %></p>
      </section>

      <%= render @view_module, @view_template, assigns %>

      <section class="centered">
        <%= if logged(@conn) do %>
          <%= link "Log out", to: user_path(@conn, :exit) %>
        <%= end %>
      </section>
    </main>

    <script src="<%= static_path(@conn, "/js/app.js") %>"></script>
  </body>
</html>
