body {
  margin-top: 20px;
  margin-bottom: 20px;

  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

h1 {
  text-align: center;
}

h3 {
  margin: 0 0 10px 0;
}

h5 {
  margin: 0;
}

.playground {
  margin: 0 auto;
  width: 500px;
}

.menu {
  margin: 0 auto;
  width: 504px;

  display: flex;
  justify-content: space-between;
}

.menu .points  {
  align-self: center;
}

.history {
  margin: 0 auto;
  width: 500px;

  text-align: justify;

  height: 50px;
  overflow: hidden;
}