body {
  margin-top: 20px;
  margin-bottom: 20px;

  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

h1 {
  text-align: center;
}

h2 {
  text-align: center;
}

h3 {
  margin: 0 0 10px 0;
}

h5 {
  margin: 0;
}

.alert {
  width: 100%;
  text-align: center;
  margin-bottom: 20px;
}

.alert-danger {
  border-radius: 5px;
  background-color: #FF6961;
}

.alert-info {
  border-radius: 5px;
  background-color: #BDECB6;
}

.form-group {
  text-align: center;
  width: 100%;
  margin-bottom: 10px;
}

.form-group .control-label:after {
  content: ":";
}

.form-group .help-block {
  font-style: italic;
  color: #FF6961;
}

.form-group .btn-main {
  width: 120px;
}

.centered,
.playground {
  margin: 0 auto;
  width: 500px;
}

.menu {
  margin: 0 auto;
  width: 504px;

  display: flex;
  justify-content: space-between;
}

.menu .points  {
  align-self: center;
}

.history {
  margin: 0 auto;
  width: 500px;

  text-align: center;

  height: 50px;
  overflow: hidden;
}

.history-element {
  color: #888888;
  font-style: italic;
  font-size: 60%;
}

.table {
  width: 100%;
  border-collapse: collapse;
}

.table td {
  text-align: center;
}

table tr td.inlined {
  text-align: right;
}

table tr td.inlined > * {
  display: inline-block;
  margin-right: 20px;
}

.table th {
  background-color: #EAEAEA;
}

.table tr.active-row {
  background-color: #BDECB6;
}

.table tr.ready-row {
  background-color: #FDFD96;
}

.table tr.inactive-row {
  background-color: #FF6961;
}

.logout {
  float: right;
}