<h2>Show room</h2>

<ul>

  <li>
    <strong>Name:</strong>
    <%= @room.name %>
  </li>

  <li>
    <strong>Score:</strong>
    <%= @room.score %>
  </li>

  <li>
    <strong>Active:</strong>
    <%= @room.active %>
  </li>

  <li>
    <strong>Author:</strong>
    <%= @room.author %>
  </li>

</ul>

<%= link "Edit", to: room_path(@conn, :edit, @room) %>
<%= link "Back", to: room_path(@conn, :index) %>
