<section class="centered">
  <h2>Game finished!</h2>

  <ul>
    <li>
      <strong>Name:</strong>
      <%= @room.name %>
    </li>

    <li>
      <strong>Score:</strong>
      <%= @room.score %>
    </li>

    <li>
      <strong>Author:</strong>
      <%= @room.author.username %>
    </li>

    <li>
      <strong>Connected users:</strong>
      <%= length(@room.connected_users) %>
    </li>
  </ul>
</section>
